.header {
  --header-height: 70px;

  height: var(--header-height);

  border-bottom: 1px solid black;

  text-align: center;
  font-size: large;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: x-large;
}

.navList {
  display: flex;
  flex-direction: column;
}
