.heading {
  padding: 12px;

  display: inline-flex;
  gap: 12px;
}

.headingContent {
  font-weight: bold;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttonContainer {
  margin: 4px 0px;
}
